@font-face {
    font-family: 'Arboria-Bold';
    src:  url('Arboria-Bold.ttf') format('woff2')
}

@font-face {
    font-family: 'Arboria-Thin';
    src:  url('Arboria-Book.woff2') format('woff2')
}

@font-face {
    font-family: 'Arboria-Medium';
    src:  url('Arboria-Medium.ttf') format('woff2')
  }
  
  *, *:before, *:after {
    box-sizing: border-box;
  }

html {
    scroll-behavior: smooth;
}

nav.menu-horizontal{
      width: 53%;
      margin-right: 9%;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  
  nav.menu-horizontal a{
      font-size: 1.1rem;
      font-family: 'Arboria-Bold';
      text-decoration: none;
      color: #0d0d0d;
    }
  nav.menu-horizontal a.nav-nas-redes{
      color: #fff;
    }
    nav.menu-horizontal a:nth-child(3){
        color: #F9B233;
    }
    
    .menu-horizontal-container a:hover{
        color: #F9B233;
    } 
    .menu-horizontal-container a:active{
        text-decoration: underline; 
    }
    
    .menu-vertical{
    padding-top: 5.5vh;
        display: flex;
    flex-direction: column;
    width: 6%;
    height: 100vh;
    background-color: #F9B233;
    z-index: 1;
    right: 0;
    top: 0;
    position: fixed;
    justify-content: flex-start;
    align-items: center;
}

.sidenav {
    font-family: "Arboria-Bold";
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 6;
    top: 0;
    right: 0;
    background-color: #F9B233;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav .itens-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* height: 70%; */
    width: 60%;
    margin: 20% auto;
}
.sidenav h2{
    color: #0d0d0d;
    display: block;
    font-size: 2.3rem;
    padding-bottom: 5% ;
}
.sidenav a {
    color: #0d0d0d;
    
    padding: 15px 0 15px 0;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
    
}

.sidenav a:hover{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav .logo-vertical{
    position: absolute;
    bottom: 20px;
    right: 20px;
}
@media only screen and (max-width: 650px) {
    nav a, nav span {
        display: none;
    }
 
    header img.logo{
        width: 50px;
        margin-bottom: 2px;
    margin-left: 2%;
    }
    
    .menu-vertical{
        padding: 0;
        width: 12%;
        height: 45px;
        justify-content: center;
        align-items: center;
    }   
}